.drop-off-files{
    display:inline-flex;
    width: 50%;
    justify-content: space-around;
    drop-off{
        margin: 10px;
    }
}
.models{
    width: 50%;
    display: inherit;
    padding: 0px 25px;
}