<div>
  <div class="header-pas">
    AnomalyDetectionWebApp

  </div>
  <span class="drop-off-files">
    <drop-off [fileType]="'normal'" (fileContentEmitter)="onLearnAnomalyFileUpload($event)"></drop-off>
    <drop-off [fileType]="'anomaly'" (fileContentEmitter)="onDetectAnomalyFileUpload($event)"></drop-off>
  </span>
  <span class="models">
    <app-models-list (changeSelection)="onAlgorithmSelectedChange($event)"></app-models-list>
  </span>
  <span class="uplaod-button"></span>
</div>
<div class="graphs">
  <!-- <app-graphs></app-graphs> -->
</div>
